In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

In [2]:
data=pd.read_csv("StockData.csv")
df=pd.DataFrame(data)
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume
0,NYA,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0.0
1,NYA,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0.0
2,NYA,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0.0
3,NYA,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0.0
4,NYA,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0.0
...,...,...,...,...,...,...,...,...
112452,N100,2021-05-27,1241.119995,1251.910034,1241.119995,1247.069946,1247.069946,379696400.0
112453,N100,2021-05-28,1249.469971,1259.209961,1249.030029,1256.599976,1256.599976,160773400.0
112454,N100,2021-05-31,1256.079956,1258.880005,1248.140015,1248.930054,1248.930054,91173700.0
112455,N100,2021-06-01,1254.609985,1265.660034,1254.609985,1258.579956,1258.579956,155179900.0
112456,N100,2021-06-02,1258.489990,1263.709961,1258.239990,1263.619995,1263.619995,148465000.0

In [3]:
data_NYA=df[(df["Index"]=="NYA") & (df['Date'] >= '2010-01-04')] #Selecting only the data of NYA, starting from the given date.
data_NYA

,Index,Date,Open,High,Low,Close,Adj Close,Volume
11077,NYA,2010-01-04,7184.979980,7331.120117,7184.979980,7326.740234,7326.740234,3.991400e+09
11078,NYA,2010-01-05,7326.740234,7359.459961,7313.600098,7354.870117,7354.870117,2.491020e+09
11079,NYA,2010-01-06,7354.850098,7389.279785,7342.490234,7377.700195,7377.700195,4.972660e+09
11080,NYA,2010-01-07,7377.700195,7398.209961,7325.509766,7393.930176,7393.930176,5.270680e+09
11081,NYA,2010-01-08,7393.930176,7426.410156,7367.810059,7425.350098,7425.350098,4.389590e+09
...,...,...,...,...,...,...,...,...
13943,NYA,2021-05-24,16375.000000,16508.519530,16375.000000,16464.689450,16464.689450,2.947400e+09
13944,NYA,2021-05-25,16464.689450,16525.810550,16375.150390,16390.189450,16390.189450,3.420870e+09
13945,NYA,2021-05-26,16390.189450,16466.339840,16388.320310,16451.960940,16451.960940,3.674490e+09
13946,NYA,2021-05-27,16451.960940,16546.359380,16451.960940,16531.949220,16531.949220,5.201110e+09
13947,NYA,2021-05-28,16531.949220,16588.689450,16531.949220,16555.660160,16555.660160,4.199270e+09

In [7]:
X = data_NYA[['Open', 'High', 'Low', 'Volume']] #Asssigning selected and relevent columns as independent variables
X.head()

              Open         High          Low        Volume
11077  7184.979980  7331.120117  7184.979980  3.991400e+09
11078  7326.740234  7359.459961  7313.600098  2.491020e+09
11079  7354.850098  7389.279785  7342.490234  4.972660e+09
11080  7377.700195  7398.209961  7325.509766  5.270680e+09
11081  7393.930176  7426.410156  7367.810059  4.389590e+09

In [8]:
X.isna().sum()

Open      0
High      0
Low       0
Volume    0
dtype: int64

In [9]:
Y=data_NYA['Close'].shift(-1) #Shift the 'Close' values up by one day to represent the next day's closing price
Y

11077     7354.870117
11078     7377.700195
11079     7393.930176
11080     7425.350098
11081     7449.049805
             ...
13943    16390.189450
13944    16451.960940
13945    16531.949220
13946    16555.660160
13947             NaN
Name: Close, Length: 2871, dtype: float64

In [10]:
X = X[:-1] #Dropping a row of X to match with Y
Y = Y.dropna()
X

               Open          High           Low        Volume
11077   7184.979980   7331.120117   7184.979980  3.991400e+09
11078   7326.740234   7359.459961   7313.600098  2.491020e+09
11079   7354.850098   7389.279785   7342.490234  4.972660e+09
11080   7377.700195   7398.209961   7325.509766  5.270680e+09
11081   7393.930176   7426.410156   7367.810059  4.389590e+09
...             ...           ...           ...           ...
13942  16350.450200  16475.000000  16344.759770  3.344620e+09
13943  16375.000000  16508.519530  16375.000000  2.947400e+09
13944  16464.689450  16525.810550  16375.150390  3.420870e+09
13945  16390.189450  16466.339840  16388.320310  3.674490e+09
13946  16451.960940  16546.359380  16451.960940  5.201110e+09

[2870 rows x 4 columns]

In [11]:
Y.head()

11077    7354.870117
11078    7377.700195
11079    7393.930176
11080    7425.350098
11081    7449.049805
Name: Close, dtype: float64

In [12]:
Y.isna().sum()

0

In [13]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=42) #Test split not mentioned because value is 0.25

In [14]:
X_train.head()

               Open          High           Low        Volume
13723  12089.240230  12103.160160  11831.040040  4.829020e+09
12990  11906.629880  11930.129880  11896.360350  3.308060e+09
11515   7043.120117   7094.359863   6873.709961  4.787920e+09
12733  10729.110350  10730.879880  10619.389650  3.848750e+09
12488  10725.879880  10789.660160  10628.940430  4.269130e+09

## Using linear regression

In [12]:
model1=LinearRegression() #Declaring model

In [13]:
model1.fit(X_train,Y_train) # Fitting the train datasets into the model

LinearRegression()

In [13]:
prediction=model1.predict(X_test)
prediction

array([ 6801.41696867, 13210.15147848,  8701.46008929,  7764.8386823 ,
       12909.59520579, 10854.55890682, 14417.31787848, 10721.63849647,
        8891.47770894, 12464.98114655, 10998.02165412, 10966.46328965,
       10474.13471875,  7869.97332489, 12364.0554345 ,  8383.90633657,
       10889.7298246 ,  7879.88275963, 10559.80391321, 10959.56768502,
        7560.90595881, 13028.04983987, 10303.80152753, 12951.32914081,
       11061.37192682,  7878.49924677, 13598.52552867,  9209.76689719,
       13816.48226546,  7577.86452303, 10914.02182554, 11519.15849814,
       12390.54973221,  8020.32635958, 16453.64519432, 10283.98808131,
        6653.53063618, 11324.87110256, 12677.47711222, 11221.33488665,
        9743.06319319, 12255.34728516, 12926.93321073, 12149.62278895,
       11426.22331973, 13102.71911449, 12948.78561947, 11123.94552596,
       10612.26519155, 12753.0861271 ,  8985.34204906, 13443.17119049,
        9903.56320175, 10597.74830884,  8434.75244014, 13099.99976277,
        7000.03183038, 10445.22313966, 10768.23520852, 10412.52499642,
       11045.28238923, 10627.16587193,  7070.65083143,  8590.14147609,
        8268.17354712, 10586.20070758, 10405.52314653,  8403.86443631,
       10528.61369011, 10840.03996141, 10107.90872097, 13083.33120173,
        7586.64280659, 10490.61145367, 10461.63483436,  8002.12156802,
       13099.68433188, 14135.35819499,  8060.5652774 ,  7771.87628898,
       10808.30789394,  8629.5846472 , 10073.60057488, 11679.92787638,
        7010.69455797,  9353.61241653,  9459.51556178, 13013.30856213,
       10904.16387541, 12632.78218576, 11834.85114849, 10813.38037813,
       10817.57864591, 12584.7128001 ,  7058.5496241 , 10715.96513199,
        7665.86122704, 10485.50178988, 13872.14781061, 11468.06458972,
       13140.37370374,  8222.33694896, 11962.12119723, 11113.63971294,
        9641.9861754 ,  9606.30024258, 13021.29031511,  8293.98521115,
       10946.50987371,  9411.62501166,  7494.53321882, 12442.88835779,
       10869.80894161, 13970.42062447, 13190.32815997, 13990.8049325 ,
       13823.18926694, 12698.38920752, 11757.80101445,  7664.87446869,
        7678.21491782, 14924.81255682, 11549.63401105, 14401.82368498,
        7454.52861784, 12204.27988471, 10185.72599602,  8987.75399527,
        8224.50005021,  8262.84092248,  7058.13582014,  8273.70384791,
       11256.54976249, 10789.89331608, 12574.12359195, 12859.12042712,
       10549.68971686, 16387.12499057,  9631.87481248, 10328.3065292 ,
       11041.84838631,  9417.09443947, 14422.93055186,  9032.66416618,
       10730.39893911, 14906.23900251, 12351.90524931,  7672.52315788,
       11063.94671443, 10778.93737904,  7590.39894892, 10647.68198225,
       10271.76343218, 13125.0646927 ,  7351.32697714, 12570.56873769,
        7560.88141583, 11577.01189328, 11154.01584115,  7597.08695901,
        9694.33649361,  7488.56102473,  9094.24651874, 12315.78859933,
       10516.25813333, 10589.89903   , 10316.35222257, 10663.60882027,
        7802.87824064, 10263.3479814 ,  9907.43002815, 12281.95117483,
       12382.27118288, 12525.27316768, 11750.03605333,  8246.5211749 ,
        7176.96934431,  7520.99522742, 12712.05535523,  9398.11135775,
       10398.22727392,  9616.25033718, 11448.55197703,  7301.19625741,
        8246.45014328,  8401.02317416, 11075.34655728, 10868.73292252,
       15260.54486665, 12694.94053548, 11138.94597334, 11040.01169874,
       10315.90713501, 10642.98828037,  7049.29340162, 11003.82733326,
        7174.1423056 , 10053.97242778,  9888.58848844, 10491.58700317,
       15674.32229948, 13027.4207223 , 12221.83553405, 13369.14123845,
        9507.76888765, 10704.04229559,  7458.68224557, 10665.74937886,
        8199.65846037, 15341.85562505, 10239.1134437 ,  8478.08107214,
       12526.70019699, 11452.17518998, 12972.93970828, 10355.10990533,
        8784.48182838, 13196.16808782, 12808.80080287,  8073.19984401,
       12884.44856345,  7155.60908816, 10186.45205549,  8317.02503462,
        8003.80166176, 11133.42545435,  8352.06201082,  7230.36085028,
        7434.52659163, 10887.42440129,  7735.37309579, 10344.75798087,
        7620.61528383, 12589.36844473,  7516.06681609,  7460.71347598,
       12632.1155045 , 10564.65422827, 10269.08531069, 10909.17746337,
       16193.74094903, 13102.32736712,  6730.00570329,  7016.61766511,
        7338.14578365,  7477.96706851,  9985.33693264, 10529.05189442,
       12909.44523478, 13245.07692761,  9075.64420767, 10429.22971364,
        8144.23578902, 10367.96821014, 10138.02805   ,  6420.86215776,
       10800.53550624, 12406.88812737, 12388.64603795, 14281.95370623,
       10770.38565917, 13332.85423376, 10460.33610328, 12419.8182266 ,
       10460.72452886, 10261.58666845, 10973.08137899,  7560.9513215 ,
       12743.46681663,  8232.63150275, 11065.29376269,  8938.67573541,
        7735.19461556,  8492.10617185,  7556.7767163 ,  7470.92016424,
       12657.51214343, 12550.35715663, 10616.09106127, 10061.74529589,
        8366.1263618 , 10823.00542124, 15269.93917327,  8652.60356407,
       10616.61873341, 13106.56100895, 11334.26970567, 11121.6184099 ,
        8132.14869498, 10703.10409801, 11157.85772208, 10443.41313857,
       12913.44496013,  9025.27296597, 10931.4291841 ,  7002.19851029,
       11702.31040846,  9335.08414842, 12812.97519328, 12938.96568623,
       12939.59486707, 10382.76477516,  7347.72096527,  6987.07797587,
        7546.23806862,  7312.58918757,  7227.43229539,  8103.77132941,
        8175.75833646,  8385.44924369,  9332.66325482, 10329.13658609,
       12843.4424549 , 12524.0036593 , 10939.33802459, 10766.61759272,
       12979.94015245,  7101.93732055, 12674.07987568,  8356.01759407,
        7359.91358785, 11040.1041747 , 14020.96659287, 10443.98290319,
        6759.16663162,  8195.2774697 , 12491.70498208, 12358.25568263,
       10004.93099298,  7324.91338586, 10828.45292791, 12812.99679464,
       10515.27150826,  8710.32333876, 13381.36989796,  7514.54740999,
       11200.94985383, 10585.79393028, 11073.88901515,  7074.02120283,
       11798.80850831,  8307.19248569, 10215.0101249 , 10642.61227429,
       10351.46416662, 12475.48699452,  8791.03629264,  8485.43417277,
        6961.3575734 ,  9539.58666442,  8275.88151277,  8102.50341353,
        6893.19970135, 10638.74456041, 10771.56747282, 12740.66794867,
       10912.08535218,  8817.53623035,  6968.38816475, 12816.95812213,
       13380.96110814,  7935.0362142 , 11490.79514128, 12710.33143786,
       10557.18206301, 14058.48668936, 12416.55395203,  8010.27629809,
        8045.58792437, 16485.00159359,  9670.89871454,  6961.37113268,
       11338.59492235, 13119.12308616, 12919.47863946,  8370.41229987,
       10945.40433233,  8356.55432801, 10606.5333349 ,  9780.11611922,
        6738.12912159,  9678.43798517, 12666.79293723,  8405.31387666,
        8042.78106522, 13809.89386581, 11157.14862983,  8028.88806481,
        9950.01778892, 10917.72529988, 11002.71355398, 11633.88211543,
        8345.744517  , 10053.32577445, 12574.69253649,  9795.1604259 ,
       10432.15325212,  7587.68390841, 13394.54100346, 11937.76350785,
        7995.39673016, 11137.50840838,  7050.34112653,  7248.42848947,
       11241.45947992, 10033.09023742, 12350.55267569,  9783.26962553,
        7457.83321359,  6649.52906313, 10323.99755678, 15727.20239622,
       12157.49451813, 10139.8923928 ,  8638.97250381, 11806.10677587,
       11593.13242333, 13130.09050528,  7227.70074461, 10959.41591464,
        6960.79507107, 12941.00137063,  9079.16464643, 10765.16175864,
        7163.63520077,  7563.39454203, 11732.71785408, 14943.61190668,
        8367.77481521,  7925.87188086, 12410.07092328, 10497.89203598,
        8497.09975267,  7780.4570777 , 10639.93295181, 10998.14141745,
        8422.35415228,  6702.80873036, 10642.66141882, 12465.58597759,
        8188.71089828, 13014.25214826, 12678.48037549,  8036.39695242,
       13850.18238968, 13149.94845424, 11616.91418047, 10971.70865195,
        6854.11732497, 12760.61901706,  9326.56491557, 10838.10690574,
       12485.90042672, 10362.94468883,  9625.37649688, 12791.81387344,
        8842.16517818, 12723.17026023, 12597.58734974,  7567.59337911,
        7704.0766629 , 11039.34994068,  7973.58574689,  6910.37430764,
        7438.32743137, 10261.98500014,  9458.61820354, 11868.63734829,
       10758.27173132, 12134.38809313, 15423.20104799,  9621.34962819,
        7462.46526037, 13081.39962838, 10349.83398309, 10510.85444133,
        7578.48560992, 12703.58482992, 10445.78617183, 10734.62352927,
       10800.22496955, 14068.89983194,  7578.28253661, 10740.84080951,
       10622.08755651,  7760.53418531, 13103.47686348, 12515.23718521,
       10516.91402594,  7112.11506627, 11095.3578412 ,  8420.01658415,
        7867.13631183, 12911.87011613, 15638.22779147, 13033.97148398,
        8097.02510079, 12727.82959133, 10668.1251035 ,  7629.9845664 ,
       12915.59423235, 10966.01306897,  9417.92272289, 10040.131738  ,
       10508.49470561, 12698.72347316,  8464.18675438, 10173.58723083,
       10500.49190689, 10277.91805799, 14176.67049421, 10945.61010217,
        8784.93703487, 10063.89014641, 11258.01838552, 12847.83625211,
       10825.22488074,  9476.34451603, 15655.22549523, 12956.72888975,
       14819.26840201,  8141.18554685, 12837.99066407,  8115.5868526 ,
       11023.01983382, 12408.2043119 ,  8379.2177532 ,  8914.70424255,
       12662.46129896,  8964.11615874, 11083.72905532, 10570.51978575,
       11730.50380701, 12445.26049129,  7541.89992272,  7372.67000867,
       13037.57748657, 10716.59806594,  8387.08476785, 16449.26539314,
        8155.57875883, 11133.6773958 , 11884.51701322, 10634.76773041,
        9937.91452977, 12906.56844792, 12496.48623938, 10836.95455344,
       15311.07636142, 14317.23670001, 13154.87764768,  8171.80436966,
       11666.71981993, 10271.24737981, 11897.11070979, 12777.78604644,
       10957.92790914,  7940.14702508, 14342.74674101, 16533.04264774,
        9049.7452691 , 15860.87052462, 10831.47473327,  6755.19107965,
       12109.95014125,  7818.61859496,  9126.95177628,  6754.45536149,
       11752.10640193,  6718.87945882, 11976.27824767,  8060.45925256,
       11523.90000958, 10217.30841851, 12376.13621445, 11615.68450926,
        8030.29376399,  7337.87735779, 12632.66466685,  9630.87584508,
       10812.1628184 , 12407.76744118, 11140.96210529, 13552.69018229,
       12590.4251935 ,  7625.75660192,  9678.04920446,  6969.99520969,
       10955.18197463, 10644.91533489, 12356.60579856,  7885.06787291,
       13431.58012613, 13032.40499101, 11676.34514067,  6854.44693947,
        8500.18974607, 13292.99967691, 11202.93739854, 10122.75428757,
       12543.31873382,  8155.42379489,  8932.21968406, 10924.14336525,
       11981.76757706, 12046.55370511,  7263.17762326, 12614.61790226,
       10493.69828607, 11789.84733055, 12370.47015138, 12016.70468119,
        7115.70692746, 15219.17413881, 12918.92030422, 15080.51826239,
       11479.41379356,  9165.64035255, 12392.04146307, 10003.11447934,
       10621.80483104, 11668.21685465, 10861.8918023 , 13042.45143487,
       10653.19154266,  7902.73953768, 11814.88930257, 12060.98225745,
       11778.52879741,  8426.81474978,  9350.44460953, 10355.46003984,
       12948.03088884, 10273.07064246, 13898.72967522,  9032.76814881,
       10090.52969452, 12314.84968381,  6833.88135978,  7587.36463098,
       11053.28601795, 12912.78296673,  9676.24296544, 12737.85621718,
       14545.42231157, 13119.36584846,  7931.13776834, 10466.57255834,
        8129.40069846, 10990.47523899, 11247.19905134,  8406.23832538,
        7511.02603568, 13766.10770465, 12663.94983373, 14344.32047292,
       12081.25596865, 11164.60331498,  7435.19924603,  9299.16505373,
       12600.14037188,  8286.30458005,  7417.68281811, 10260.87969308,
       10679.00829524, 12894.88661387, 10422.39932311, 10096.30610157,
       11095.96873504, 12552.15209694,  7337.82064405,  7723.1699562 ,
        8235.77891503,  8914.66230382,  9267.08817195, 10173.1711882 ,
       13109.82743404,  9891.39232041,  7788.56948631, 10982.94610554,
       10665.07154766, 10064.97613798,  9251.53451081,  9613.42183144,
       13808.56864747,  8106.78642759, 11577.06982944,  8296.4414461 ,
       16612.96277282, 10564.79231995, 12768.77516549, 11167.01030881,
       12804.85456599,  9162.73437802,  7663.40089058, 10877.69860358,
       13055.014007  , 11203.98009042,  6842.74013483,  7578.16647606,
        7671.19579861, 10828.98256027,  7898.33504777,  7799.96808441,
       11089.60348086,  9485.56146498, 11089.53392624,  9504.47443993,
       10742.9217532 , 11084.01822152, 10188.52961184,  7897.63981551,
       12464.36270104, 10808.20497067, 12534.73502581,  7430.86301174,
       12918.91102221, 10156.80802352])

In [14]:
mae=mean_absolute_error(Y_test, prediction)
mse = mean_squared_error(Y_test, prediction)
r2=r2_score(Y_test,prediction)

In [38]:
print(f"The mean absolute error of the model is {mae}")
print(f"The mean squared error of the model is {mse}")
print(f"The R squared of the model is {r2}")

The mean absolute error of the model is 78.84083244011913
The mean squared error of the model is 15765.034028898419
The R squared of the model is 0.996770470971794

## Using Support Vector Machine

In [25]:
model2=SVR(kernel="rbf")

In [26]:
model2.fit(X_train,Y_train)

SVR()

In [27]:
prediction=model2.predict(X_test)

In [28]:
mae=mean_absolute_error(Y_test, prediction)
mse = mean_squared_error(Y_test, prediction)
r2=r2_score(Y_test,prediction)

In [29]:
print(f"The mean absolute error of the model is {mae}")
print(f"The mean squared error of the model is {mse}")
print(f"The R squared of the model is {r2}")

The mean absolute error of the model is 1797.728694303074
The mean squared error of the model is 4914870.356943365
The R squared of the model is -0.006830461546831534

In [24]:
X_test

               Open          High           Low        Volume
11520   6722.979980   6856.879883   6674.290039  2.510620e+09
13471  13137.959960  13221.059570  13137.959960  3.154240e+09
11838   8714.700195   8716.120117   8684.769531  3.340650e+09
11728   7791.490234   7823.919922   7710.830078  4.193740e+09
13751  12967.940430  12975.540040  12877.190430  3.881310e+09
...             ...           ...           ...           ...
12458  10859.110350  10873.660160  10768.620120  4.078540e+09
13736  12515.839840  12563.450200  12482.269530  4.027890e+09
11559   7149.709961   7485.549805   7149.709961  5.801910e+09
13749  12864.740230  12932.889650  12856.690430  3.193400e+09
12067  10141.769530  10159.849610  10132.500000  3.129500e+09

[718 rows x 4 columns]

In [16]:
new=pd.DataFrame({"Open":[10141.769530],"High":[10873.660160],"Low":[10132.500000],"Volume":[407854000]})
new

          Open         High      Low     Volume
0  10141.76953  10873.66016  10132.5  407854000

## Using random forest

In [30]:
model3=RandomForestRegressor(n_estimators=40,
    max_depth=50,
    min_samples_split=5,
    min_samples_leaf=6,
    max_features= 0.7)

In [31]:
model3.fit(X_train,Y_train)

RandomForestRegressor(max_depth=50, max_features=0.7, min_samples_leaf=6,
                      min_samples_split=5, n_estimators=40)

In [41]:
prediction=model3.predict(X_test)

In [42]:
mae=mean_absolute_error(Y_test, prediction)
mse = mean_squared_error(Y_test, prediction)
r2=r2_score(Y_test,prediction)

In [43]:
print(f"The mean absolute error of the model is {mae}")
print(f"The mean squared error of the model is {mse}")
print(f"The R squared of the model is {r2}")

The mean absolute error of the model is 83.65029165985432
The mean squared error of the model is 16558.81134141496
The R squared of the model is 0.9966078625772924

In [ ]:
527.210022 527.210022 527.210022 527.210022 527.210022

In [ ]:
 527.840027 527.840027 527.840027 527.840027 527.840027

In [35]:
new

          Open         High          Low       Volume
1  1254.609985  1265.660034  1254.609985  155179900.0

In [25]:
new.at[1,"Volume"]= 155179900.0

In [34]:
new.drop(new.index[0],inplace=True)

In [47]:
new2=pd.DataFrame({"Open":[1258.489990],"High":[1263.709961],"Low":[1258.239990],"Volume":[407854000]})
1258.489990 1263.709961 1258.239990 1263.619995 1263.619995 148465000.0
1254.609985 1265.660034 1254.609985 1258.579956 1258.579956 155179900.0

In [29]:
predict=model3.predict(new)

NameError: name 'model3' is not defined

In [38]:
new_test=pd.DataFrame({"Close":[1258.579956]})

In [39]:
new_test

         Close
0  1258.579956

In [44]:
pred=model3.predict(new)

In [47]:
mae=mean_absolute_error(new_test, pred)
mse = mean_squared_error(new_test, pred)
r2=r2_score(new_test,pred)

/Users/devbirchandthakuri/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [48]:
mae,mse,r2

(5403.263878323676, 29195260.538797416, nan)